[submodule "Vendor/Library/GLM"]
	path = Vendor/Libraries/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/Library/freetype"]
	path = Vendor/Libraries/freetype
	url = https://github.com/gintsperkons/freetype.git
[submodule "Vendor/Library/GLFW"]
	path = Vendor/Libraries/GLFW
	url = https://github.com/gintsperkons/glfw.git
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/gintsperkons/Scripts.git
[submodule "Vendor/Libraries/STB"]
	path = Vendor/Libraries/STB
	url = https://github.com/nothings/stb.git
[submodule "Vendor/Libraries/FastNoise2"]
	path = Vendor/Libraries/FastNoise2
	url = https://github.com/gintsperkons/FastNoise2Premake.git
